.landing-page-parent{
    min-height: 100vh;

    .header{
        font-size: xx-large;
        background-color: #2B4F8D;
        color: white;
    }
    .side-panel-parent{
        min-height: 100vh;
        background-color: #2B4F8D;
    }
}
