@import '../common/scss/theme.scss';

.dashboard-box{
    border-left: 0.1em solid ;
    border-right: 0.1em solid;
    border-top: 0.9em solid;
    border-bottom: 0.1em solid;
    border-color: $dasboard-box;
    background-color: $dashboard-font;
    border-radius: 5%;
    color: $dasboard-box-font;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 2%;

    .count-span{
        font-size: x-large;
        margin-bottom: 0.5em;
    }

    &:hover{
        background-color: $dasboard-box; 
        color: $dashboard-font;
        cursor: pointer;
    }


}
