.dashboard-box{
    border: 0.5px ;
    background-color: #02C9AF;
    border-radius: 5%;
    color: whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 2%;

    .count-span{
        font-size: x-large;
        margin-bottom: 0.5em;
    }
}