
.report-table{
    font-family: "Calibri";
    
    border: solid 1px;

    th{
        border: solid 1px;

        
    }
    td{
        border: solid 1px;
    }
}

.bg-orange{
    background-color: #ED7D31;
}

.bg-yellow{
    background-color: #FFFF00
}