@import '../common/scss/theme.scss';


.drop-down{
    padding: 10px; 
    background:$dashboard-color; 
    border:none;
    color: $dashboard-font;
}
.report-table {
    font-family: "Calibri";
    border: solid 1px;

    th {
        border: solid 1px;
    }

    td {
        border: solid 1px;
    }
}

.bg-orange {
    background-color: $report-header;
}

.bg-yellow {
    background-color: $report-project-header;
}