@import '../common/scss/theme.scss';

.side-panel-parent {
    min-height: 100vh;
    background-color: $dashboard-color;

    a {
        text-decoration: none;
    }

    .active-link {
        font-weight: 1000;
        color: $dasboard-box !important;
        font-size: 1.2em;
    }
}