@import '../common/scss/theme.scss';

.navbar {
    background-color: $dashboard-color !important;
    color: $dashboard-font;

    .collapse {
        position: absolute;
        right: 10%;
    }

    .nav-item{
        margin-right: 0.8em;       
        
        .nav-link{
            color:$dashboard-font !important;
        }
    }
}

.text-small{
    font-size: xx-small;
}