$dashboard-color: #2B4F8D;
$dashboard-font: #FFF;
$dasboard-box: #02C9AF;
$dasboard-box-font: #000;
$report-header: #ED7D31;
$report-project-header: #FFFF00;
$error-header : #FF0000;
$success-header: #00FF00;
