.bg-header{
    background-color: #2B4F8D;
    color: white;
}
.rmdp-input{
    width: 900px;
    height: 100px;
    overflow-x: scroll;
}

.drop-down{
    padding: 10px; 
    background:#2B4F8D; 
    border:none;
    color: white;
}

.bg-blue{
    background-color: #2B4F8D;
    color:white;
  }

  